%p#notice= notice

%p
  %b Name:
  = category.name

%p
  - category.products.each do |product|
    = product.title

%p
  %h3 New product
  = render 'products/form'

- if policy(category).admin?
  = link_to 'Edit', edit_category_path(category)
  \|
= link_to 'Back', categories_path, class: 'btn btn-primary'
